/* Estilo para a p�gina principal */
.page[b-7plq2u8gs4] {
    display: flex;
}

/* Estilo para a sidebar */
.sidebar[b-7plq2u8gs4] {
    width: 60px; /* Largura retra�da */
    transition: width 0.3s ease;
    background-color: #333;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

    .sidebar.expanded[b-7plq2u8gs4] {
        width: 250px; /* Largura expandida */
    }

/* Estilo para o conte�do principal */
.main-content[b-7plq2u8gs4] {
    margin-left: 60px; /* Ajuste o conte�do quando o menu estiver retra�do */
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.main-content[b-7plq2u8gs4] {
    margin-left: 60px;
}

.sidebar.expanded + .main-content[b-7plq2u8gs4] {
    margin-left: 250px; /* Ajuste o conte�do quando o menu estiver expandido */
}
